
body {
  margin: 0;
  background-color: #0d1014;
  font-family: 'Anton', sans-serif;
  color: #ffffff;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo-text {
  font-size: 2em;
  font-weight: bold;
  color: #d3ecec;
}
.logo-img {
  height: 40px;
}
.title {
  font-size: 5em;
  margin: 100px 0 20px 0;
  line-height: 1em;
}
.coming-soon {
  font-size: 2.5em;
  color: #20e0c0;
  margin: 10px 0;
}
.date {
  font-size: 1.5em;
  margin: 0;
}
footer {
  margin-top: 100px;
  font-size: 0.9em;
  color: #aaa;
}
